.ticket {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  color: #4A4A4A;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px rgba(91, 137, 164, 0.25);
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 2px 20px 3px rgba(91, 137, 164, 0.25);
  }

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #FF6D00;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .col-left {
    width: 200px;
    height: 100%;
    padding: 20px;
    padding-top: 30px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 200px;
      width: 1px;
      height: 100%;
      background-color: #ECEFF1;
    }
  }

  .col-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    width: 370px;
    padding: 20px;
    padding-top: 30px;
  }
}

.meta {
  display: flex;
  flex-direction: column;


  &__time {
    font-size: 32px;
    line-height: 32px;
    font-weight: 200;
    margin-bottom: 5px;
  }

  &__departure,
  &__arrival {
    font-size: 12px;
    line-height: 18px;
  }

  &__stops {
    position: relative;
    padding: 0 20px;
    padding-bottom: 5px;
    margin-bottom: auto;
    background-image: url();
    border-bottom: 1px solid #D2D5D6;    
    
    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      right: 0;
      width: 14px;
      height: 14px;
      background-image: url(./img/flight.png);
      background-repeat: no-repeat;
    }

    span {
      font-size: 12px;
      line-height: 12px;
      color: lighten(#4A4A4A, 50%);
    }
  }

  &__date {
    font-size: 12px;
    line-height: 18px;
    color: lighten(#4A4A4A, 50%);
  }
}

@media (max-width: 1023px) {
  .ticket {
    flex-direction: column-reverse;
    justify-content: center;

    &__link {
      margin-left: auto;
      padding: 10px 40px;
    }

    .col-left {
      display: flex;
      align-items: center;
      padding-top: 10px;
      
      width: 100%;

      &::before {
        display: none;
      }

      img {
        margin: 0;
        margin-right: 50px;
      }
    }

    .col-right {
      padding-bottom: 10px;
      padding-top: 20px;
    }
  }
}

@media (max-width: 425px) {
  .ticket {
    width: 100%;

    &__link {
      margin: 0;
      margin-top: 20px;
      width: 100%;
    }

    .col-right {
      flex-direction: column;
      width: 100%;
      padding-bottom: 0;
    }

    .col-left {
      flex-direction: column;
      align-items: center;

      img {
        margin: 0;
      }
    }

    .meta {
      margin-bottom: 10px;

      &__stops {
        margin-bottom: 10px;
      }
    }
  }
}