.sidebar {
  position: absolute;
  padding: 20px;
  top: 160px;
  left: 100px;
  width: 230px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 2px rgba(91, 137, 164, 0.25);

  &__title {
    margin: 0;
    margin-bottom: 15px;
  }

  &__currency-group {
    margin-bottom: 30px;
  }

  .check-group {
    width: 100%;
  }
}